In [9]:
import pandas as pd

In [10]:
# Abrir archivo
archivo_csv = 'Users_Items.csv'
df_items = pd.read_csv(archivo_csv)

In [11]:
# Visualizar las primeras filas del DataFrame para entender la estructura del conjunto de datos
df_items.head()

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561198070234207,33,76561198070234207,http://steamcommunity.com/profiles/76561198070...,43110,Metro 2033,0,0
1,76561198070234207,33,76561198070234207,http://steamcommunity.com/profiles/76561198070...,105600,Terraria,15590,0
2,76561198070234207,33,76561198070234207,http://steamcommunity.com/profiles/76561198070...,38830,CrimeCraft GangWars,1,0
3,76561198070234207,33,76561198070234207,http://steamcommunity.com/profiles/76561198070...,99900,Spiral Knights,4116,0
4,76561198070234207,33,76561198070234207,http://steamcommunity.com/profiles/76561198070...,102700,A.V.A - Alliance of Valiant Arms,5,0

In [12]:
# Examinar la informaci√≥n del DataFrame, como el tipo de datos y los valores nulos.
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178428 entries, 0 to 178427
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           178428 non-null  object
 1   items_count       178428 non-null  int64
 2   steam_id          178428 non-null  int64
 3   user_url          178428 non-null  object
 4   item_id           178428 non-null  int64
 5   item_name         178428 non-null  object
 6   playtime_forever  178428 non-null  int64
 7   playtime_2weeks   178428 non-null  int64
dtypes: int64(5), object(3)
memory usage: 10.9+ MB

In [13]:
df_items.isnull().sum()

user_id             0
items_count         0
steam_id            0
user_url            0
item_id             0
item_name           0
playtime_forever    0
playtime_2weeks     0
dtype: int64

In [15]:
# Observar la cantidad de valores unicos de cada columna
df_items.nunique()

user_id             16438
items_count           110
steam_id            16438
user_url            16438
item_id              4185
item_name            4174
playtime_forever    13875
playtime_2weeks      1455
dtype: int64