In [2]:
import pandas as pd

In [3]:
# Abrir archivo
archivo_csv = 'Users_Reviews.csv'
df_reviews = pd.read_csv(archivo_csv)

In [4]:
df_reviews.head(5)

,user_id,user_url,funny,posted,item_id,helpful,recommend,review
0,76561198079601835,http://steamcommunity.com/profiles/76561198079...,1.0,May 20.,730,0 of 1 people (0%) found this review helpful,True,ZIKA DO BAILE
1,MeaTCompany,http://steamcommunity.com/id/MeaTCompany,NaN,July 24.,730,No ratings yet,True,BEST GAME IN THE BLOODY WORLD
2,76561198089393905,http://steamcommunity.com/profiles/76561198089...,5.0,"February 1, 2015.",72850,3 of 3 people (100%) found this review helpful,True,"Killed the Emperor, nobody cared and got away ..."
3,76561198089393905,http://steamcommunity.com/profiles/76561198089...,1.0,"June 20, 2014.",440,3 of 3 people (100%) found this review helpful,True,10/10 would eat your money for hats and keys
4,76561198156664158,http://steamcommunity.com/profiles/76561198156...,NaN,June 16.,252950,0 of 1 people (0%) found this review helpful,True,love it

In [5]:
# Examinar la informaci√≥n del DataFrame, como el tipo de datos y los valores nulos.
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29638 entries, 0 to 29637
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    29638 non-null  object
 1   user_url   29638 non-null  object
 2   funny      3408 non-null   float64
 3   posted     29638 non-null  object
 4   item_id    29638 non-null  int64
 5   helpful    29638 non-null  object
 6   recommend  29638 non-null  bool
 7   review     29611 non-null  object
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 1.6+ MB

In [6]:
df_reviews.isnull().sum()

user_id          0
user_url         0
funny        26230
posted           0
item_id          0
helpful          0
recommend        0
review          27
dtype: int64

In [7]:
# Observar la cantidad de valores unicos de cada columna
df_reviews.nunique()

user_id      16711
user_url     16711
funny           88
posted        1700
item_id       2295
helpful        580
recommend        2
review       26809
dtype: int64