In [2]:
import pandas as pd
import os
import nltk 
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [3]:
# Abrir archivo
archivo_csv = 'Users_Reviews.csv'
df_reviews = pd.read_csv(archivo_csv)

In [4]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29638 entries, 0 to 29637
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    29638 non-null  object
 1   user_url   29638 non-null  object
 2   funny      3408 non-null   float64
 3   posted     29638 non-null  object
 4   item_id    29638 non-null  int64
 5   helpful    29638 non-null  object
 6   recommend  29638 non-null  bool
 7   review     29611 non-null  object
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 1.6+ MB

In [5]:
df_reviews.head(5)

,user_id,user_url,funny,posted,item_id,helpful,recommend,review
0,76561198079601835,http://steamcommunity.com/profiles/76561198079...,1.0,May 20.,730,0 of 1 people (0%) found this review helpful,True,ZIKA DO BAILE
1,MeaTCompany,http://steamcommunity.com/id/MeaTCompany,NaN,July 24.,730,No ratings yet,True,BEST GAME IN THE BLOODY WORLD
2,76561198089393905,http://steamcommunity.com/profiles/76561198089...,5.0,"February 1, 2015.",72850,3 of 3 people (100%) found this review helpful,True,"Killed the Emperor, nobody cared and got away ..."
3,76561198089393905,http://steamcommunity.com/profiles/76561198089...,1.0,"June 20, 2014.",440,3 of 3 people (100%) found this review helpful,True,10/10 would eat your money for hats and keys
4,76561198156664158,http://steamcommunity.com/profiles/76561198156...,NaN,June 16.,252950,0 of 1 people (0%) found this review helpful,True,love it

In [6]:
# Convertir la columna 'posted' a type datatime
df_reviews['posted'] = pd.to_datetime(df_reviews['posted'], errors='coerce') #Manejo de errores. En caso de no poder convertir en una fecha, se establecer치 como NaT (Not a Time)

C:\Users\Jorge\AppData\Local\Temp\ipykernel_15652\3856798368.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_reviews['posted'] = pd.to_datetime(df_reviews['posted'], errors='coerce') #Manejo de errores. En caso de no poder convertir en una fecha, se establecer치 como NaT (Not a Time)

In [7]:
# Convertir la columna review a type str
df_reviews['review'] = df_reviews['review'].astype(str)

In [8]:
# Descargar recursos de nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Jorge\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [9]:
# Crear objeto SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [10]:
# Crear la funci칩n para obtener el an치lisis de sentimiento con NLP

def get_sentiment_score(text):
    if pd.isnull(text):
        return 1
    else:
        sentiment_score = sid.polarity_scores(text)['compound']
        if sentiment_score >= 0.05:
            return 2  # Positivo
        elif sentiment_score <= -0.05:
            return 0  # Malo
        else:
            return 1  # Neutral

df_reviews['sentiment_analysis'] = df_reviews['review'].apply(get_sentiment_score)

In [11]:
df_reviews.head(2)

,user_id,user_url,funny,posted,item_id,helpful,recommend,review,sentiment_analysis
0,76561198079601835,http://steamcommunity.com/profiles/76561198079...,1.0,NaT,730,0 of 1 people (0%) found this review helpful,True,ZIKA DO BAILE,1
1,MeaTCompany,http://steamcommunity.com/id/MeaTCompany,NaN,NaT,730,No ratings yet,True,BEST GAME IN THE BLOODY WORLD,2

In [12]:
# Eliminar columnas que ya fueron modificas o no aportan a la data

df_reviews = df_reviews.drop(columns=['review'])
df_reviews = df_reviews.drop(columns=['funny'])
df_reviews = df_reviews.drop(columns=['posted'])

In [13]:
df_reviews.head(2)

,user_id,user_url,item_id,helpful,recommend,sentiment_analysis
0,76561198079601835,http://steamcommunity.com/profiles/76561198079...,730,0 of 1 people (0%) found this review helpful,True,1
1,MeaTCompany,http://steamcommunity.com/id/MeaTCompany,730,No ratings yet,True,2

In [14]:
df_reviews.to_csv('df_reviews_api.csv')

In [15]:
# Ruta donde se guardar치 el archivo CSV
ruta_csv = os.path.join('csv_api', 'df_reviews_api.csv')
df_reviews.to_csv(ruta_csv, index=False)